img {
    max-width: 100%;
    height: auto;
}
body {
    overflow-x: hidden;
}
@media (max-width: 768px) {
    header,
    .hero,
    .container,
    .tarjetas,
    .trabajos,
    footer {
        flex-direction: column !important;
        text-align: center;
    }
}
@media (max-whidth: 768px) {
    .footer{
        flex-direction: column;
        text-align: center;
    }
}