

.hero {
    height: 90vh;
    background: url('https://images.unsplash.com/photo-1585747860715-2ba37e788b70') center/cover ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 10px black;
}
.hero h2 {
    font-size: 50px;
}
.hero button {
    margin-top: 20px;
    padding: 12px 25px;
    background: gold;
    border: none;
    cursor: pointer;
}

.servicios {
    text-align: center;
    padding: 60px 20px;
    background: url('https://images.unsplash.com/photo-1503951914875-452162b0f3f1') center/cover no-repeat;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
.servicios h2 {
    margin-bottom: 30px;
}
.tarjetas {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 60px 20px;
}
.tarjeta {
    background: rgba(0, 0,0 , 0.7);
    color: white;
    width: 250px;
    padding: 30px;
    text-align: center;
    border-radius: 12px;
    transition: 0.3s;
}
.tarjeta:hover {
    transform: translateY(-10px);
}
.tarjeta h3{
    color: #d4af37;
    margin-bottom: 10px;
}
.tarjeta p {
    color: #ccc;
}
.logo{
    width: 120px;
}
.galeria{
    padding: 80px 60px;

}
.imagenes{
    display: flex;
    gap: 15px;

}
.imagenes img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
img{
    max-width: 100%;
    height: auto;
}